.product {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 400px;
  max-height: 500px;
  padding: 20px;
  margin: 30px auto 30px auto;
  z-index: 1;
  background-color: white;
  transition: transform 600ms;
  -webkit-box-shadow: 4px 3px 20px -5px rgba(0, 0, 0, 0.52);
  box-shadow: 4px 3px 20px -5px rgba(0, 0, 0, 0.52);
}

.product_rating {
  display: flex;
}

.product img {
  margin: 5px auto auto auto;
  align-items: center;
  width: 50%;
  max-height: 200px;
  object-fit: contain;
}

/*.product button {
  width: 40%;
  height: 20px;
  margin: 0px auto;
  transition: transform 200ms;
  background: #00ea35;
  outline: none;
  border: 0.5px solid black;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-weight: 600;
  font-size: 12px;
  overflow: hidden;
}*/
.MuiButton-containedPrimary {
  background: linear-gradient(45deg, #af9a6c 20%, #8ca035 70%);
  width: 50%;
  margin: 0px auto !important;
  border-radius: 0px !important;
}

.product:hover {
  transform: scale(1.02);
}
.product_info {
  padding-left: 10px;
  background-color: white;
}

.product_price {
  color: red;
}
