.slider {
  position: relative;
  z-index: -1;
  margin: 0px;
}
.thumbs-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-device-width: 480px) {
  .slider_image {
    object-fit: fill;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .thumbs-wrapper {
    display: none;
  }
}
